.project {
  width: calc(20% - 30px);
  height: 100%;
  margin-left: 30px;
  box-sizing: border-box;
}

.project-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.project-form > h2 {
  width: 100%;
  margin-bottom: 16px;
}

.project-form > input[type="text"],
.project-form > textarea {
  margin: 16px auto;
  width: 100%;
  padding: 10px;
}

.project-form > textarea {
  resize: none;
  height: 80px;
}

#color {
  outline: 1px solid var(--main-text);
  outline-offset: 8px;
  border-radius: 8px;
  border: none;
  margin: 20px auto;
  height: calc(56px - 16px);
  width: calc(100% - 16px);
}

#color::-webkit-color-swatch {
  border: none;
  border-radius: 8px;
}
#color::-webkit-color-swatch-wrapper {
  padding: 0;
  border: none;
}

#color:focus {
  border: 1px solid var(--lightBlue1);
}

.project-form > button {
  width: 100%;
  margin: 20px auto;
}

#description {
  margin-bottom: 2rem;
}

#language {
  width: inherit;
  margin: 20px;
}

#language > option {
  color: black;
}

.personalization {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .project {
    width: 100%;
    margin-left: 0px;
  }

  .personalization {
    flex-direction: row;
    justify-content: space-between;
  }

  #language,
  #color {
    width: 50%;
  }
  #language {
    margin-right: 12px;
    margin-left: 0px;
  }
  #color {
    margin-left: 12px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 375px) {
  .project {
    padding: 10px;
  }
  .personalization {
    flex-direction: column;
  }

  #language,
  #color {
    width: 100%;
    margin: 20px;
  }
}
