.button-filled {
  width: 90%;
  color: var(--darkBlue);
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--blue);
  text-align: center;
}
.button-filled:hover {
  background-color: var(--lightBlue1);
}
.button-filled:active {
  background-color: var(--lightBlue1);
  outline: 4px solid var(--blue-72);
}
.button-filled:focus {
  background-color: var(--lightBlue2);
}

.button-outlined {
  color: var(--main-text);
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  background-color: var(--blue-8);
  width: 90%;
}
.button-outlined:hover {
  background-color: var(--blue-16);
}
.button-outlined:active {
  background-color: var(--blue-16);
  outline: 4px solid var(--blue-24);
}
.button-outlined:focus {
  background-color: var(--blue-24);
}

.button-icon {
  background-color: transparent;
  width: 48px;
  height: 48px;
}
.button-icon:hover {
  background-color: var(--blue-8);
}
.button-icon:active {
  background-color: var(--blue-16);
}

.button-menu {
  background-color: transparent;
  color: var(--second-text);
  font-family: Inter;
  font-size: 16px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}
.button-menu:hover {
  color: var(--white-72);
}
.button-menu:active {
  color: var(--main-text);
}
.button-menu > img {
  margin: 0 10px;
  width: 24px;
  height: 24px;
  padding: 10px;
  background-color: var(--blue-16);
  border-radius: 16px;
}
.button-menu:hover > img {
  background-color: var(--blue-64);
}
.button-menu:active > img {
  background-color: var(--blue);
}

.button-project {
  background: transparent;
  color: var(--main-text);
  font-family: "Inter", serif;
  font-size: 16px;
  padding-right: 5px;
  width: 58px;
  height: 40px;
}
.button-project > img {
  width: 20px;
  height: 17.5px;
  margin: 0 5px;
}
.button-project:hover {
  background-color: var(--white-8);
  border-radius: 16px;
}
.button-project:active {
  background-color: var(--white-16);
  border-radius: 16px;
}

.button-user {
  background-color: transparent;
  color: var(--main-text);
  font-family: Inter;
  font-size: 16px;
  padding-right: 10px;
  align-items: center;
  display: flex;
  width: 106px;
  height: 56px;
}
.button-user > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 10px;
}

.button-user__small {
  background-color: transparent;
  color: var(--main-text);
  font-family: Inter;
  font-size: 16px;
  padding-right: 10px;
  align-items: center;
  display: flex;
  height: 40px;
  width: 90px;
}

.button-user__small > img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0 10px;
}

.button-user:hover,
.button-user__small:hover {
  background-color: var(--white-8);
}

svg.icon-favorite {
  margin: 0 5px;
  width: 20px;
  height: 17.5px;
  vertical-align: middle;
}

svg.icon-favorite path {
  fill: var(--main-text);
}

svg.icon-favorite__active path {
  fill: var(--mac-red);
}
