.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
}

@media screen and (min-width: 769px) {
  .profile > .button-icon {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .profile > .button-user {
    display: none;
  }

  .profile > .button-icon {
    display: block;
  }
}
