.sidemenu-nav {
  display: block;
  align-items: start;
  width: 100%;
}

.sidemenu-list > button {
  margin: 16px 0;
  margin-left: -20px;
}

.sidemenu-list > button > img {
  pointer-events: none;
}
