.export-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

#format > option {
  color: black;
}

.export-button {
  vertical-align: middle;
  max-width: 80%;
}

@media screen and (max-width: 375px) {
  .export-button {
    width: 60%;
  }
}
