.comment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-text);
  font-family: Inter, sans-serif;
}

.comment-container > .button-outlined {
  width: 50%;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .comment-container > .button-outlined {
    width: 75%;
  }
}

@media screen and (max-width: 375px) {
  .comment-container > .button-outlined {
    width: calc(100% - 64px);
  }
}
